/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

.card {
  padding: 2em;
}

/* Hide Scrollbar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

/* 
=======================================================
COMPONENTS
=======================================================
*/
.secBreak {
  content: "";
  border: 1px solid #957c3d;
  margin: 3rem 4rem;
}

/* 
=======================================================
PAGES
=======================================================
*/
/* 
|| CALCULATOR ==================================
*/
.Calculator {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 79vh;
}
.Calculator h1 {
  color: #002c5f;
  text-align: center;
}
.Calculator form {
  background-color: #e0d9ce;
  padding: 1.5rem;
  border-radius: 0.5rem;
  color: #002c5f;
}
.Calculator ul {
  list-style: none;
}
.Calculator div,
.Calculator li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0;
}
.Calculator label {
  width: 50%;
}
.slider {
  display: flex;
}
.slider button {
  color: white;
  background-color: rgb(155, 155, 155);
}
.sliderButton1 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.sliderButton2 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.on {
  background-color: #47586a !important;
}
.Budget,
.Compound {
  padding-top: 0;
}
.Budget p,
.Compound p {
  color: #000000;
  text-align: center;
  font-size: 1.5rem;
}

/* 
|| GLOSSARY ===========================================
*/
.Glossary {
  padding: 0 1rem;
  margin-bottom: 5rem;
  color: #777777;
}
.Glossary h3 {
  font-size: 3rem;
}
.Glossary li {
  list-style-type: circle;
}
.Glossary h6 {
  font-size: 1rem;
  text-decoration: underline;
}
.Glossary h3,
.Glossary h6 {
  color: #002349;
}

/* 
|| HOME ===============================================
*/
.Home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Home h3,
.Home h4,
.homePanel h3 {
  color: #002c5f;
}

/* 
||| MAIN
 */
main {
  background-image: url(./assets/pexels-huỳnh-đạt-2098691.jpg);
  background-size: cover;
  width: 100%;
  height: calc(100vh - 69px);
  display: flex;
  flex-direction: column-reverse;
}
main div {
  width: 50%;
  height: fit-content;
  padding: 0 0 2rem 2rem;
}
main h1 {
  margin: 0 0 3rem 0;
  color: white;
}

/* 
||| HOME PANEL
*/
.homePanel {
  text-align: center;
  background-color: white;
  color: #9a9a9a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.homePanel h3 {
  font-size: 2rem;
}

/* 
||| GOALS
*/
.goals section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.goals article {
  width: 30%;
  text-align: center;
  font-size: 1.5rem;
}
.goals img {
  width: 100%;
}

/* 
||| EMERGENCY
 */
.emergency {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emergency h4 {
  font-size: 2rem;
  margin: 0;
}
.emergency p {
  font-size: 1.5rem;
  padding: 0 2rem;
}
.emergency img {
  width: 60%;
  margin: -55px -10px;
}

/* 
||| DEBT
*/
.debt {
  padding: 2rem 0;
}
.debt h3 {
  margin-top: 0;
  padding-bottom: 2rem;
}
.debt section {
  display: flex;
  justify-content: space-around;
}
.debt article {
  width: 30%;
  text-align: center;
  font-size: 1.5rem;
}
.debt img {
  width: 100%;
}

/* 
||| EDUCATION
*/
.education {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.education h4 {
  font-size: 2rem;
  margin: 0;
}
.education p {
  font-size: 1.5rem;
  padding: 0 1rem;
}
.education img {
  width: 60%;
  margin: -55px -10px;
}

/* 
||| TAKE ACTION
*/
.takeAction {
  color: #9a9a9a;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  text-align: center;
}

/* 
|| LEARN ===============================================
*/
.Learn {
  padding: 1rem;
}
.Learn a {
  font-style: italic;
  font-weight: bold;
  /* text-decoration: underline; */
}
.body {
  min-height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #777777;
}
.body h3,
.body h4,
.body h5 {
  color: #002c5f;
}
.body a {
  color: #957c3d;
}
.Page {
  margin-left: 3vw;
}
.Learn .buttons {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.Learn .overview {
  justify-content: flex-end;
}
/* 
||| LEARN-BUDGETING 
*/
.Budgeting {
  display: flex;
}
.Budgeting h3 {
  font-size: 2rem;
}
.Budgeting .action {
  display: flex;
  justify-content: space-around;
}
.Budgeting .action span {
  width: 45%;
}

/* MOBILE VIEW */
@media (max-width: 766px) {
  /* HOME PAGE */
  main {
    flex-direction: column;
    justify-content: center;
  }
  main div {
    padding: 1rem 0;
    text-align: center;
    width: 100%;
  }
  .goals section,
  .debt section {
    display: flex;
    flex-direction: column;
  }
  .goals section article {
    width: 80%;
  }
  .goals section article:not(:first-child):not(:last-child) {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 1rem 4rem 0 4rem;
    margin-bottom: 1rem;
    width: 50%;
  }
  .emergency h4 {
    margin-top: 1rem;
  }
  .debt h3 {
    margin-bottom: 0;
  }
  .debt section article:not(:first-child):not(:last-child) {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 1rem 0;
    margin: 0 2rem 1rem 2rem;
  }
  .debt section {
    display: flex;
    justify-content: center;
  }
  .debt section article {
    width: fit-content;
    padding: 0;
  }
  .debt section article img {
    width: 50%;
  }
  .education h4 {
    padding-top: 1rem;
  }

  /* CALCULATOR PAGE */
  .Calculator {
    padding: 2rem 0;
  }
  .Calculator form {
    background-color: #e0d9ce;
    padding: 1.5rem 0.5rem;
    border-radius: 0.5rem;
    color: #002c5f;
  }
  .Calculator ul {
    padding-left: 0.5rem;
  }

  /* LEARN PAGES */
  .Learn ul,
  .Learn ol {
    padding-left: 0;
  }
  .Learn li:not(:last-child) {
    padding-bottom: 1rem;
  }
  /* LEARN-LONG-TERM-GOALS */
  .LearnLongTermGoals h4 {
    text-decoration: underline;
  }

  /* GLOSSARY PAGE */
  .Glossary ul {
    padding-left: 1rem;
  }
}
