/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

.card {
  padding: 2em;
}

/* 
=======================================================
COMPONENTS
=======================================================
*/
.secBreak {
  content: '';
  border: 1px solid #957C3D;
  margin: 0 4rem;
}

/* 
=======================================================
PAGES
=======================================================
*/
/* 
|| CALCULATOR ==================================
*/
.Calculator {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Calculator h1 {
  text-align: center;
}
.Calculator form {
  background-color: #d6c4ac;
  padding: 1.5rem;
  border-radius: .5rem;
}
.Calculator ul {
  list-style: none;
}
.Calculator div, .Calculator li {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0;
}
.Calculator label {
  width: 50%;
}
.Calculator input {
  text-align: end;
  border: beige solid 1px;
  border-radius: .2rem;
}
.slider {
  display: flex;
}
.slider button {
  color: white;
  background-color: grey;
}
.sliderButton1 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.sliderButton2 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.on {
  background-color: #43718b !important;
}
.Budget, .Compound {
  padding-top: 0;
}
/* .Compound .yearsInvesting input {
  text-align: start;
} */
.input span {
  background-color: transparent;
  position: absolute;
  opacity: 70%;
}
.percent input {
  text-align: start;
}
.percent span {
  width: 0;
  position: relative;
  right: 30px;
}
.years span {
  width: 0;
  position: relative;
  right: 55px;
}
.years input {
  text-align: start;
}
/* 
|| GLOSSARY ===========================================
*/
.Glossary {
  padding: 0 1rem;
}
.Glossary h3 {
  font-size: 3rem;
}
.Glossary li {
  list-style-type: circle;
}
.Glossary h6 {
  font-size: 1rem;
}

/* 
|| HOME ===============================================
*/
.Home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Home h3, .Home h4 {
  color: #47586A;
}

/* 
||| MAIN
 */
main {
  background-image: url(/assets/pexels-huỳnh-đạt-2098691.jpg);
  background-size: cover;
  padding: 1rem 0 0 1rem;
  height: 92vh;
  
}
main div {
  padding: 50vh 40vw 0 0;
}
main h1 {
  margin: 0 0 3rem 0;
  color: white;
}

/* 
||| HOME PANEL
*/
.homePanel {
  text-align: center;
  background-color: white;
  color: #9A9A9A;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.homePanel h3 {
  font-size: 2rem;
  color: #47586A;
}

/* 
||| GOALS
*/
.goals section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.goals article {
  width: 30%;
  text-align: center;
  font-size: 1.5rem;
}
.goals img {
  width: 100%;
}

/* 
||| EMERGENCY
 */
.emergency {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emergency h4 {
  font-size: 2rem;
  margin: 0;
}
.emergency p {
  font-size: 1.5rem;
  padding: 0 2rem;
}
.emergency img {
  width: 60%;
  margin: -55px -10px;
}

/* 
||| DEBT
*/
.debt {
  padding: 2rem 0;
}
.debt section {
  display: flex;
  justify-content: space-around;
}
.debt article {
  width: 30%;
  text-align: center;
  font-size: 1.5rem;
}
.debt img {
  width: 100%;
}

/* 
||| EDUCATION
*/
.education {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.education h4 {
  font-size: 2rem;
  margin: 0;
}
.education p {
  font-size: 1.5rem;
  padding: 0 1rem;
}
.education img {
  width: 60%;
  margin: -55px -10px;
}

/* 
||| TAKE ACTION
*/
.takeAction {
  color: #9A9A9A;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

/* 
|| LEARN ===============================================
*/
.Learn {
  padding: 1rem;
}
.body {
  min-height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Page {
  margin-left: 3vw;
}

.Learn .buttons {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}
/* 
||| LEARN-BUDGETING 
*/
.Budgeting {
  display: flex;
}
.Budgeting h3 {
  font-size: 2rem;
}
.Budgeting .action {
  display: flex;
  justify-content: space-around;
}
.Budgeting .action span {
  width: 45%;
}