.slider {
    display: flex;
    padding: 0;
    margin: 0;
}
.slider button {
    color: white;
    background-color: grey;
}
.sliderButton1 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.sliderButton2 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.on {
    background-color: #887849 !important;
}