.Calculator label {
    width: 50%;
}
.Calculator input {
  text-align: end;
  border: beige solid 1px;
  border-radius: .2rem;
}
.input span {
  background-color: transparent;
  position: absolute;
  opacity: 70%;
}
.years input, .percent input {
  text-align: start;
}
.percent span {
  width: 0;
  position: relative;
  left: 160px;

}
.years span {
  width: 0;
  position: relative;
  left: 125px;
}