.Calculator label {
    width: 50%;
}
.Calculator input {
  text-align: end;
  border: beige solid 1px;
  border-radius: .2rem;
  width: 10rem;
}
.inputField {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0;
}
.input .symbol {
  background-color: transparent;
  position: absolute;
  opacity: 70%;
}
.years input, .percent input {
  text-align: start;
}
.percent .symbol {
  width: 0;
  position: relative;
  left: 150px;

}
.years .symbol {
  width: 0;
  position: relative;
  left: 120px;
}
.inputDiv {
  display: flex;
  flex-direction: column;
}
.invalidWarning {
  color: #B40000;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}