
.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}
.budgetBody {
    position: fixed;
    top: 40vh;
    left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gainsboro;
    border-radius: .5rem;
    background-color: #43718b;
    padding: 0 .9rem;
    padding-bottom: 1rem;
}
.budgetBody div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.modalButton {
    background-color: transparent;
    color: white;
}
.budgetSections {
    display: flex;
    justify-content: space-between;
}
.budgetSections article {
    width: 31%;
}
.none {
    visibility: hidden;
}