.Navbar {
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Navbar h2 a {
    padding: 0 0.5rem;
    color: #ad8e60;
  }
  .Navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  .Navbar li a {
    padding: 0 0.5rem;
    color: #ad8e60;
  }
  