.Navbar {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #002349;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Navbar h2 a {
  padding: 0 0.5rem;
  font-size: 1.5rem;
  color: white;
  transition: ease-in-out .25s;
}
.asdf:hover span {
  display: none;
}
.asdf:hover:before {
  content: 'Build-a-Budget'
}
.Navbar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-right: 5px;
}
.Navbar li a {
  padding: 0 0.5rem;
  padding-bottom: 5px;
  color: white;
  transition: border-bottom ease-in-out .15s;
  /* border: solid 1px red; */
}
.Navbar li a:hover {
  border-bottom: solid 3px #957C3D;
}
