.term {
    cursor: pointer;
    color: green;
}
.termModal {
    width: 85%;
    position: absolute;
    border-radius: .5rem;
    padding: .5rem;
    background-color: #96b7f0;
    box-shadow: 5px 5px 5px gray;
}