.term {
    font-weight: bold;
    cursor: pointer;
    color: #957C3D;
}
.termModal {
    text-align: center;
    color: white;
    width: 85%;
    position: absolute;
    border-radius: .5rem;
    padding: .5rem;
    background-color: #957C3D;
    box-shadow: 5px 5px 5px gray;
}