.term {
    font-weight: bold;
    cursor: pointer;
    color: #88885b;
}
.termModal {
    color: beige;
    width: 85%;
    position: absolute;
    border-radius: .5rem;
    padding: .5rem;
    background-color: #6b6b48;
    box-shadow: 5px 5px 5px gray;
}